.app {
  display: flex;
  flex-wrap: wrap;
}

.app__sidebar-container {
  flex-grow: 2;
}

.app__sidebar {
  background-color: blanchedalmond;
  padding: 1.5rem;
  height: 100vh;
}

.app__profile {
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.app__task-list-names {
  margin-top: 1rem;
}

.app__task-list {
  flex-grow: 8;
}

@media (max-width: 768px) {
  .app__sidebar,
  .app__task-list {
    flex: 0 0 100%;
  }
}
