.app {
  display: flex;
  flex-wrap: wrap;
}

.app__sidebar {
  flex-grow: 2;
}

.app__task-list {
  flex-grow: 8;
}

@media (max-width: 768px) {
  .app__sidebar,
  .app__task-list {
    flex: 0 0 100%;
  }
}
